img {
		border: 3px dotted black; 
		padding: 55px;
		margin:20px;
		width:150px;
		float:; 
	}
		body {
			background-color: yellow;
		}
		footer{
			clear:both; 
		}
		p {
			padding:100px 0
		}
		h1 {
			margin: 30px;
			padding:20px;
			font-family: helvetica;
			color: blue;
			display: flex;
			justify-content: center;
		}
		